.card-center-text {
    text-align: center;
}

.card-text-color-green {
    color: rgb(84, 168, 63);
    font-weight: bold;
}

.card-text-color-black {
    color: rgba(0, 0, 0, .65);
    font-weight: bold;
}

.genus-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.price {
    text-decoration: underline;
    cursor: pointer;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.car-buy {
    color: rgb(108, 61, 168);
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}